<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<h1>FAQ</h1>
	<p>Here are some questions and answers that some folks had for me</p>
	<ul>
		<li><strong>What is the air speed velocity of a swallow?</strong></li>
		<li>African, or american?</li>
		<li><strong>Who inventer the airplane?</strong></li>
		<li>The wright brothers</li>
		<li><strong>What is my why?</strong></li>
		<li>I do what I do becuase I feel great satisfaction and purpose from lifting people up.</li>
	</ul>
<a href="/">Home</a>
<a href="/contact">Contact</a>
</body>
</html>