{{template "header" .}}
	<div class="h-[calc(100vh-56px)]" id="map"></div>
	<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPl1v8GcqHg1bXwElMCHRNDYu-Z7Fs5yA&loading=async&callback=initMap">
  </script>
{{template "footer" .}}