{{define "header"}}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdn.tailwindcss.com?plugins=forms"></script>
	<title>Document</title>
</head>
<body>
{{end}}

// Each Page content goes here

{{define "footer"}}
<p>Copyright Ethan Marchand 2023</p>
</body>
</html>
{{end}}